- content_for :page_title do
  = t('auth.security')

= render 'sessions'

- if open_deletion?

  %h4= t('auth.delete_account')
  %p.muted-hint= t('auth.delete_account_html', path: settings_delete_path)
