- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

.simple_form.alternative-login
  = link_to t('Login with Facebook'), user_facebook_omniauth_authorize_path, class: 'button btn-facebook'
